@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";
.aaa{ width:100vw; height: 100vh;  background:red ; display:table; text-align: center}
.bbb{ width:100vw; height: 100vh; display: table-cell; vertical-align:middle }
.img-text-container {
    margin:.5em;
}
.gallery {
    margin: 16px;
}