$primary-color:#fff;
// $background-color:#000207;

$opacity:0.7;
// 1F2024
body{
    background-color: #333;
    color: $primary-color;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}